<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profiles/index.css">
<%- include('../partials/nav') %>

<section>
  <div>
    <h1>See Where Others Have Visited</h1>
    <div class="card-container">
      <% profiles.forEach(profile => { %>
        <div class="card">
          <a class=" card-content text-decoration-none" href="/profiles/<%= profile._id %>">
            <img 
              class="profile-pic"
              src="<%= profile.avatar %>" 
              alt="<%= profile.name %>'s avatar"
            >
            <div class="card-body">
              <h2 class="card-title"><%= profile.name %></h2>
            </div>
          </a>
        </div>
      <% }) %>
    </div>
  </div>
</section>

<%- include('../partials/footer') %>