<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profiles/show.css">
<%- include('../partials/nav') %>

<section>
  <div>
    <h1> <span style="color: #1B8364"><%= isSelf ? 'Your ' : `${profile.name}'s ` %></span> Destinations</h1>
    <% if (profile.destinations.length) { %>
      
    <div class="visited-container">
      
        <% let countAf = 0 %> 
        <% profile.destinations.forEach(destination => { %>
          <% if (destination.continent === 'Africa') { %>
            <% countAf+=1 %>
          <% } %>
        <% }) %>
        <% if (countAf > 0) { %>
          <div class="africa continent-container">    
            <h3>Africa</h3>
            <% profile.destinations.forEach(destination => { %>
              <% if (destination.continent === 'Africa') { %>
                <div>
                  <a href="/destinations/<%= destination._id %> ">
                    <%= `${destination.city}, ${destination.country}` %> 
                  </a>
                </div>
              <% } %>
            <% }) %>
          </div>
        <% } %>
        <% console.log(countAf, 'COUNT AF') %>
      

        <% let countAn = 0 %> 
        <% profile.destinations.forEach(destination => { %>
          <% if (destination.continent === 'Antarctica') { %>
            <% countAn+=1 %>
          <% } %>
        <% }) %>
        <% if (countAn > 0) { %>
          <div class="antarctica continent-container">
          <h3>Antarctica</h3>
            <% profile.destinations.forEach(destination => { %>
              <% if (destination.continent === 'Antarctica') { %>
                <div>
                  <a href="/destinations/<%= destination._id %> ">
                    <%= `${destination.city}, ${destination.country}` %> 
                  </a>
                </div>
              <% } %>
            <% }) %>
          </div>
        <% } %>
        <% console.log(countAn, 'COUNT AN') %>
      

        <% let countAs = 0 %> 
        <% profile.destinations.forEach(destination => { %>
          <% if (destination.continent === 'Asia') { %>
            <% countAs+=1 %>
          <% } %>
        <% }) %>
        <% if (countAs > 0) { %>
          <div class="asia continent-container">
            <h3>Asia</h3>
            <% profile.destinations.forEach(destination => { %>
              <% if (destination.continent === 'Asia') { %>
                <div>
                  <a href="/destinations/<%= destination._id %> ">
                    <%= `${destination.city}, ${destination.country}` %> 
                  </a>
                </div>
              <% } %>
            <% }) %>
          </div>
        <% } %>
        <% console.log(countAs, 'COUNT AS') %>  
      

        <% let countAu = 0 %> 
        <% profile.destinations.forEach(destination => { %>
          <% if (destination.continent === 'Australia') { %>
            <% countAu+=1 %>
          <% } %>
        <% }) %>
        <% if (countAu > 0) { %>
          <div class="australia continent-container">
            <h3>Australia</h3>
            <% profile.destinations.forEach(destination => { %>
              <% if (destination.continent === 'Australia') { %>
                <div>
                  <a href="/destinations/<%= destination._id %> ">
                    <%= `${destination.city}, ${destination.country}` %> 
                  </a>
                </div>
              <% } %>
            <% }) %>
          </div>
        <% } %>
        <% console.log(countAu, 'COUNT AU') %>  
      

        <% let countEu = 0 %> 
        <% profile.destinations.forEach(destination => { %>
          <% if (destination.continent === 'Europe') { %>
            <% countEu+=1 %>
          <% } %>
        <% }) %>
        <% if (countEu > 0) { %>
          <div class="europe continent-container">
            <h3>Europe</h3>
            <% profile.destinations.forEach(destination => { %>
              <% if (destination.continent === 'Europe') { %>
                <div>
                  <a href="/destinations/<%= destination._id %> ">
                    <%= `${destination.city}, ${destination.country}` %> 
                  </a>
                </div>
              <% } %>
            <% }) %>
          </div>
        <% } %>
        <% console.log(countEu, 'COUNT EU') %>  
      

        <% let countNA = 0 %> 
        <% profile.destinations.forEach(destination => { %>
          <% if (destination.continent === 'North America') { %>
            <% countNA+=1 %>
          <% } %>
        <% }) %>
        <% if (countNA > 0) { %>
          <div class="north-america continent-container">
            <h3>North America</h3>
            <% profile.destinations.forEach(destination => { %>
              <% if (destination.continent === 'North America') { %>
                <div>
                  <a href="/destinations/<%= destination._id %> ">
                    <%= `${destination.city}, ${destination.country}` %> 
                  </a>
                </div>
              <% } %>
            <% }) %>
          </div>
        <% } %>
        <% console.log(countNA, 'COUNT NA') %>  
      

        <% let countSA = 0 %> 
        <% profile.destinations.forEach(destination => { %>
          <% if (destination.continent === 'South America') { %>
            <% countSA+=1 %>
          <% } %>
        <% }) %>
        <% if (countSA > 0) { %>
          <div class="south-america continent-container">
            <h3>South America</h3>
            <% profile.destinations.forEach(destination => { %>
              <% if (destination.continent === 'South America') { %>
                <div>
                  <a href="/destinations/<%= destination._id %> ">
                    <%= `${destination.city}, ${destination.country}` %> 
                  </a>
                </div>
              <% } %>
            <% }) %>
          </div>
        <% } %>
        <% console.log(countSA, 'COUNT SA') %>  


    </div>
      
  
      
      <!-- <p>
        <%# profile.destinations.forEach(destination => { %>
          <div>
            <%#= `${destination.city}, ${destination.country}` %> 
          </div>
        <%# }) %>
      </p> -->
  
  
    <% } else { %>
      <p><%= isSelf ? 'You have not saved any visited destinations' : `${profile.name} has not saved any visited destinations` %> </p>
    <% } %>
    <% if (isSelf) { %>
      <form action="/profiles/<%= profile._id %>/destinations" method="POST">
        <select name="destinationId">
          <% destinations.forEach(destination => { %>
            <option value="<%= destination._id %>"><%= `${destination.city}, ${destination.country}` %></option>
          <% }) %>
        </select>
        <button class="visited-dest-btn" type="submit">Add Visited Destination</button>
      </form>
      <label>
        Not seeing a destination that you've visited? Add it to the list!
        <a href="/destinations/new">
          <button class="new-dest-btn">Add New Destination</button>
        </a>
      </label>
    <% } %>
    <h2>Bucket List Destinations</h2>
    <% if (profile.bucketListDestinations.length) { %>
      <% profile.bucketListDestinations.forEach(destination => { %>
        <p>
          Location: <%= destination.location %>
          Information: <%= destination.info %>
          Year: <%= destination.year %> 
          <% if (isSelf) { %>
            <form
              action="/profiles/bucket-list-destinations/<%= destination._id %>?_method=DELETE"
              method="POST"
              style="display: inline-block"
            >
              <button type="submit">Delete</button>
            </form>
          <% } %>
        </p>
      <% }) %>
    <% } else { %>
      <p><%= isSelf ? 'You have not saved any bucket list destinations' : `${profile.name} has not saved any bucket list destinations` %> </p>
    <% } %>
    <% if (isSelf) { %>
      <form action="/profiles/<%= profile._id %>/bucket-list-destinations" method="POST">
        <label>
          Location: 
          <input type="text" name="location" autocomplete="off">
        </label>
        <label>
          Information: 
          <textarea name="info"></textarea>
        </label>
        <label>
          What year would you like to travel here? 
          <input type="number" name="year" autocomplete="off">
        </label>
        <button type="submit">Add Bucket List Destination</button>
      </form>
    <% } %>
    </div>
</section>

<%- include('../partials/footer') %>