<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1> <%= isSelf ? 'Your Destinations' : `${profile.name}'s Destinations` %></h1>
  <h2>Destinations Visited</h2>
  <% if (profile.destinations.length) { %>
    
    <div class="africa">
      <% let countAf = 0 %> 
      <% profile.destinations.forEach(destination => { %>
        <% if (destination.continent === 'Africa') { %>
          <% countAf+=1 %>
        <% } %>
      <% }) %>
      <% if (countAf > 0) { %>
        <h3>Africa</h3>
        <% profile.destinations.forEach(destination => { %>
          <% if (destination.continent === 'Africa') { %>
            <div>
              <%= `${destination.city}, ${destination.country}` %> 
            </div>
          <% } %>
        <% }) %>
      <% } %>
      <% console.log(countAf, 'COUNT AF') %>
    </div>

    <div class="antarctica">
      <% let countAn = 0 %> 
      <% profile.destinations.forEach(destination => { %>
        <% if (destination.continent === 'Antarctica') { %>
          <% countAn+=1 %>
        <% } %>
      <% }) %>
      <% if (countAn > 0) { %>
        <h3>Antarctica</h3>
        <% profile.destinations.forEach(destination => { %>
          <% if (destination.continent === 'Antarctica') { %>
            <div>
              <%= `${destination.city}, ${destination.country}` %> 
            </div>
          <% } %>
        <% }) %>
      <% } %>
      <% console.log(countAn, 'COUNT AN') %>
    </div>

    <div class="asia">
      <% let countAs = 0 %> 
      <% profile.destinations.forEach(destination => { %>
        <% if (destination.continent === 'Asia') { %>
          <% countAs+=1 %>
        <% } %>
      <% }) %>
      <% if (countAs > 0) { %>
        <h3>Asia</h3>
        <% profile.destinations.forEach(destination => { %>
          <% if (destination.continent === 'Asia') { %>
            <div>
              <%= `${destination.city}, ${destination.country}` %> 
            </div>
          <% } %>
        <% }) %>
      <% } %>
      <% console.log(countAs, 'COUNT AS') %>  
    </div>

    <div class="australia">
      <% let countAu = 0 %> 
      <% profile.destinations.forEach(destination => { %>
        <% if (destination.continent === 'Australia') { %>
          <% countAu+=1 %>
        <% } %>
      <% }) %>
      <% if (countAu > 0) { %>
        <h3>Australia</h3>
        <% profile.destinations.forEach(destination => { %>
          <% if (destination.continent === 'Australia') { %>
            <div>
              <%= `${destination.city}, ${destination.country}` %> 
            </div>
          <% } %>
        <% }) %>
      <% } %>
      <% console.log(countAu, 'COUNT AU') %>  
    </div>

    <div class="europe">
      <% let countEu = 0 %> 
      <% profile.destinations.forEach(destination => { %>
        <% if (destination.continent === 'Europe') { %>
          <% countEu+=1 %>
        <% } %>
      <% }) %>
      <% if (countEu > 0) { %>
        <h3>Europe</h3>
        <% profile.destinations.forEach(destination => { %>
          <% if (destination.continent === 'Europe') { %>
            <div>
              <%= `${destination.city}, ${destination.country}` %> 
            </div>
          <% } %>
        <% }) %>
      <% } %>
      <% console.log(countEu, 'COUNT EU') %>  
    </div>

    <div class="north-america">
      <% let countNA = 0 %> 
      <% profile.destinations.forEach(destination => { %>
        <% if (destination.continent === 'North America') { %>
          <% countNA+=1 %>
        <% } %>
      <% }) %>
      <% if (countNA > 0) { %>
        <h3>North America</h3>
        <% profile.destinations.forEach(destination => { %>
          <% if (destination.continent === 'North America') { %>
            <div>
              <%= `${destination.city}, ${destination.country}` %> 
            </div>
          <% } %>
        <% }) %>
      <% } %>
      <% console.log(countNA, 'COUNT NA') %>  
    </div>

    <div class="south-america">
      <% let countSA = 0 %> 
      <% profile.destinations.forEach(destination => { %>
        <% if (destination.continent === 'South America') { %>
          <% countSA+=1 %>
        <% } %>
      <% }) %>
      <% if (countSA > 0) { %>
        <h3>South America</h3>
        <% profile.destinations.forEach(destination => { %>
          <% if (destination.continent === 'South America') { %>
            <div>
              <%= `${destination.city}, ${destination.country}` %> 
            </div>
          <% } %>
        <% }) %>
      <% } %>
      <% console.log(countSA, 'COUNT SA') %>  
    </div>

    
    <!-- <p>
      <%# profile.destinations.forEach(destination => { %>
        <div>
          <%#= `${destination.city}, ${destination.country}` %> 
        </div>
      <%# }) %>
    </p> -->

    
  <% } else { %>
    <p><%= isSelf ? 'You have not saved any visited destinations' : `${profile.name} has not saved any visited destinations` %> </p>
  <% } %>
  <% if (isSelf) { %>
    <form action="/profiles/<%= profile._id %>/destinations" method="POST">
      <select name="destinationId">
        <% destinations.forEach(destination => { %>
          <option value="<%= destination._id %>"><%= `${destination.city}, ${destination.country}` %></option>
        <% }) %>
      </select>
      <button type="submit">Add Destination</button>
    </form>
    <label>
      Not seeing a destination that you've visited? Add it to the list!
      <a href="/destinations/new">
        <button>Add Destination</button>
      </a>
    </label>
  <% } %>
  <h2>Bucket List Destinations</h2>
  <% if (profile.bucketListDestinations.length) { %>
    <% profile.bucketListDestinations.forEach(destination => { %>
      <p>
        Location: <%= destination.location %>
        Information: <%= destination.info %>
        Year: <%= destination.year %> 
        <% if (isSelf) { %>
          <form
            action="/profiles/bucket-list-destinations/<%= destination._id %>?_method=DELETE"
            method="POST"
            style="display: inline-block"
          >
            <button type="submit">Delete</button>
          </form>
        <% } %>
      </p>
    <% }) %>
  <% } else { %>
    <p><%= isSelf ? 'You have not saved any bucket list destinations' : `${profile.name} has not saved any bucket list destinations` %> </p>
  <% } %>
  <% if (isSelf) { %>
    <form action="/profiles/<%= profile._id %>/bucket-list-destinations" method="POST">
      <label>
        Location: 
        <input type="text" name="location" autocomplete="off">
      </label>
      <label>
        Information: 
        <textarea name="info"></textarea>
      </label>
      <label>
        What year would you like to travel here? 
        <input type="number" name="year" autocomplete="off">
      </label>
      <button type="submit">Add Bucket List Destination</button>
    </form>
  <% } %>
    
</main>

<%- include('../partials/footer') %>