<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <div>
    <img 
      class="profile-avatar"
      src="<%= profile.avatar %>" 
      alt="<%= profile.name %>'s avatar"
    >
  </div>
  <h1> <%= isSelf ? `Hello, ${profile.name}!` : `${profile.name}'s Profile` %></h1>
  <h1>Destinations Visited</h1>
  <% if (profile.destinations.length) { %>
    <p>
      <% profile.destinations.forEach(destination => { %>
        <div>
          <%= `${destination.city}, ${destination.country}` %> 
        </div>
      <% }) %>
      </p>
  <% } else { %>
    <p><%= isSelf ? 'You have not saved any visited destinations' : `${profile.name} has not saved any visited destinations` %> </p>
  <% } %>
  <% if (isSelf) { %>
    <form action="/profiles/<%= profile._id %>/destinations" method="POST">
      <select name="destinationId">
        <% destinations.forEach(destination => { %>
          <option value="<%= destination._id %>"><%= `${destination.city}, ${destination.country}` %></option>
        <% }) %>
      </select>
      <button type="submit">Add Destination</button>
    </form>
    <label>
      Not seeing a destination that you've visited? Add it to the list!
      <a href="/destinations/new">
        <button>Add Destination</button>
      </a>
    </label>
  <% } %>
  <h1>Bucket List Destinations</h1>
  <% if (profile.bucketListDestinations.length) { %>
    <% profile.bucketListDestinations.forEach(destination => { %>
      <p>
        Location: <%= destination.location %>
        Information: <%= destination.info %>
        Year: <%= destination.year %> 
        <% if (isSelf) { %>
          <form
            action="/profiles/bucket-list-destinations/<%= destination._id %>?_method=DELETE"
            method="POST"
            style="display: inline-block"
          >
            <button type="submit">Delete</button>
          </form>
        <% } %>
      </p>
    <% }) %>
  <% } else { %>
    <p><%= isSelf ? 'You have not saved any bucket list destinations' : `${profile.name} has not saved any bucket list destinations` %> </p>
  <% } %>
  <% if (isSelf) { %>
    <form action="/profiles/<%= profile._id %>/bucket-list-destinations" method="POST">
      <label>
        Location: 
        <input type="text" name="location" autocomplete="off">
      </label>
      <label>
        Information: 
        <textarea name="info"></textarea>
      </label>
      <label>
        What year would you like to travel here? 
        <input type="number" name="year" autocomplete="off">
      </label>
      <button type="submit">Add Bucket List Destination</button>
    </form>
  <% } %>
    
</main>

<%- include('../partials/footer') %>