<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/destinations/index.css">
<%- include('../partials/nav') %>

<section>
  <div>
    <div>
      <h1><%= title %> </h1>
    </div>
    <div>
      <% if (user) { %>
        <a href="/destinations/new">
          <button class="add-destination" type="submit">Add a Destination</button>
        </a>
      <% } %>
    </div>
    <div class="all-cards">
      <% destinations.forEach(destination => { %>
        <div class="destination-card"> 
          <a class="destination-name" href="/destinations/<%= destination._id %>">
            <h3><%= destination.city %></h3>
            <h4><%= destination.country %></h4>
          </a>
        </div>
      <% }) %>
    </div>
  </div>
</section>

<%- include('../partials/footer') %>
