<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1><%= title %> </h1>


<h2><%= destination.city %>, <%= destination.country %>  </h2>
<h3>By <%= destination.reviews %>  </h3>
<p>Rating: <%= destination.reviews.rating %> </p>
<p>Recommend: <%= destination.reviews.recommend ? 'Yes' : 'No' %> </p>

<%- include('../partials/footer') %>
