<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/destinations/show.css">
<%- include('../partials/nav') %>

<section>
  <div>
    <div>
      <h1><span style="color: #1B8364;"><%= title %></span> Reviews</h1>
    </div>
    <div class="all-reviews">
      <% if (destination.reviews.length) { %>
        <% destination.reviews.forEach(review => { %>
          <div class="review-card">
            <div class="review-header">
              <a href="/destinations/<%= destination._id %>/reviews/<%= review._id %>">
                <h3><%= review.title %> </h3>
              </a>
            </div>
            <div class="rating-rec">
              <p><u>Rating:</u> <%= review.rating %> </p>
              <p><u>Recommend:</u> <%= review.recommend ? 'Yes' : 'No' %> </p>
            </div>
            <div class="del-btn">
              <% if (review.author._id.equals(user?.profile._id)) { %>
                <form action="/destinations/<%= destination._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                  <button type="submit">Delete</button>
                </form>
              <% } %>
            </div>
          </div>
          <% }) %>
        <% } else { %>
          <h3>No Reviews Yet</h3>
        <% } %>
    </div>
    <% if (user) { %>
      <div class="review-form-container">
        <div class="review-form-content">
          <div class="form-head">
            <h2>Write a Review</h2>
          </div>
          <form action="/destinations/<%= destination._id %>/reviews " method="POST">
            <div class="form-two-fields">
              <label>
                Title:
                <input class="two-fields-input" type="text" name="title" placeholder="required">
              </label>
              <label>
                Date Visited:
                <input class="two-fields-input" type="text" name="dateVisited" placeholder="Month Year" autocomplete="off">
              </label>
            </div>
            <div class="form-two-fields">
              <label>
                Rating:
                <select name="rating">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5" selected>5</option>
                </select>
              </label>
              <label>
                Recommend:
                <input class="checkbox" type="checkbox" name="recommend">
              </label>
            </div>
            <div>
              <label class="form-review">
                <div>
                  Review:
                </div>
                <textarea name="review" placeholder="required"></textarea>
              </label>
            </div>
            <div>
              <button class="form-btn" type="submit">Save Review</button>
            </div>
          </form>
        </div>
      </div>
    <% } %>
    <div>
      <a href="/destinations">
        <button class="back-btn">All Destinations</button>
      </a>
    </div>
  </div>
</section>

<%- include('../partials/footer') %>
