<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/reviews/edit.css">
<%- include('../partials/nav') %>

<section>
  <div>
    <% if ((review.author._id.equals(user?.profile._id))) { %>
      <div class="review-form-container">
        <div class="review-form-content">
          <div class="form-head">
            <h2><span style="color: #1B8364">Edit Review -</span> <%= `${destination.city}, ${destination.country}` %> </h2>
          </div>
          <form action="/destinations/<%= destination._id %>/reviews/<%= review._id %>?_method=PUT" method="POST">
            <div class="form-two-fields">
              <label>
                Title:
                <input type="text" name="title" value="<%= review.title %>">
              </label>
              <label>
                Date Visited:
                <input type="text" name="dateVisited" value="<%= review.dateVisited %>" autocomplete="off">
              </label>
            </div>
            <div class="form-two-fields">
              <label>
                Rating:
                <select name="rating">
                  <option value="<%= review.rating %> "><%= review.rating %> </option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </label>
              <label>
                Recommend:
                <input
                  class="checkbox"
                  type="checkbox"
                  name="recommend"
                  <%= review.recommend ? 'checked' : '' %>
                >
              </label>
            </div>
            <div>
              <label class="form-review">
                <div>
                  Review:
                </div>
                <textarea name="review" value="<%= review.review %>"><%= review.review %></textarea>
              </label>
            </div>
            <div>
              <button class="form-btn" type="submit">Update Review</button>
            </div>
          </form>
        </div>
      </div>
    <% } else { %>
      <h1>🚫 NO ACCESS 🚫</h1>
    <% } %> 
  </div>
</section>


    <%- include('../partials/footer') %>